[submodule "mcp_forth/mcp_forth"]
	path = mcp_forth/mcp_forth
	url = https://github.com/liamHowatt/mcp_forth.git
[submodule "mcpd/mcp_board"]
	path = mcpd/mcp_board
	url = https://github.com/liamHowatt/mcp_board.git
[submodule "peanut_gb/Peanut-GB"]
	path = peanut_gb/Peanut-GB
	url = https://github.com/deltabeard/Peanut-GB.git
