#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config MCP_APPS_MCP_LVGL
        tristate "MCP LVGL App"
        default n
        depends on GRAPHICS_LVGL && MCP_APPS_MCP_FORTH && MCP_APPS_MCP_FS
        ---help---
                Enable the MCP LVGL App

if MCP_APPS_MCP_LVGL

config MCP_APPS_MCP_LVGL_PROGNAME
        string "Program name"
        default "mcp_lvgl"
        ---help---
                This is the name of the program that will be used when the NSH ELF
                program is installed.

config MCP_APPS_MCP_LVGL_PRIORITY
        int "MCP LVGL task priority"
        default 100

config MCP_APPS_MCP_LVGL_STACKSIZE
        int "MCP LVGL stack size"
        default 32768

endif
