#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config MCP_APPS_BEEPER
        tristate "Beeper App"
        default n
        depends on GRAPHICS_LVGL && HAVE_CXX && UCLIBCXX && CRYPTO_WOLFSSL && MCP_APPS_TEXTER_UI && EVENT_FD
        ---help---
                Enable the Beeper App

if MCP_APPS_BEEPER

config MCP_APPS_BEEPER_APPDATA_PATH
        string "Persisted data path"
        default "/data"
        ---help---
                Path to persistent login credientials and cryptography state.
                A sub directory called beeper will automatically be created there.

config MCP_APPS_BEEPER_NETWORKING_THREAD_STACKSIZE
        int "Beeper networking thread stack size"
        default PTHREAD_STACK_DEFAULT

endif
